---
layout: default
title: Mac applications and development tools from BinaryAge
menu: products
meta_title: Mac applications and development tools from BinaryAge
meta_keywords: binaryage,totalfinder,totalspaces,totalterminal,total commander,finder,spaces,visor,firequery,firelogger,firerainbow,xrefresh,drydrop,productivity,mac,indie,software
meta_description: BinaryAge - Mac applications and tools for developers.
meta_image: /images/totalfinder-screenshot-tabs.png
fbsdk: 1
ogmeta: {
  site_name: "BinaryAge website",
  description: "BinaryAge brings you innovative applications and developer tools.",
  email: "support@binaryage.com",
  type: "company",
  title: "BinaryAge Software",
  url: "http://www.binaryage.com",
  image: "http://www.binaryage.com/shared/img/icons/binaryage-badge-256.png"
}
products: [{
    title: "TotalTerminal",
    url: "http://totalterminal.binaryage.com",
    description: "a system-wide terminal<br>accessible via a hot-key",
    tech: "apple"
},{
    title: "Asepsis",
    url: "http://asepsis.binaryage.com",
    description: "a smart solution for<br>.DS_Store pollution"
},{
    title: "XRefresh",
    url: "http://xrefresh.binaryage.com",
    description: "a Firebug extension<br>for refresh-driven development"
},{
    title: "Restatic",
    url: "http://restatic.binaryage.com",
    description: "pumps spreadsheet data<br>to your static site"
},{
    title: "Visor",
    url: "http://visor.binaryage.com",
    description: "a system-wide terminal<br>obsoleted by TotalTerminal",
    tech: "apple"
},{
    title: "FireQuery",
    url: "http://firequery.binaryage.com",
    description: "a Firebug extension<br>for jQuery development",
    tech: "html5"
},{
    title: "FireRainbow",
    url: "http://firerainbow.binaryage.com",
    description: "a Firebug extension<br>for javascript syntax highlighting",
    tech: "html5"
},{
    title: "FireLogger",
    url: "http://firelogger.binaryage.com",
    description: "a Firebug extension<br>which adds a sexy logger console",
    tech: "html5"
},{
    title: "LeechGate",
    url: "https://github.com/binaryage/leechgate",
    description: "enables Google Analytics<br>for your Amazon S3 bucket"
}]
---

<div id="welcome">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-icon" title="obsolete software">
          <i class="fa fa-warning"></i> no longer supported
        </div>
      </div>
    </div>
  </div>
</div>

<div id="free-software">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="products-wrapper">
          <div class="products">
            {% for product in page.products %}
            <a class="product" {% if product.url %}href="{{product.url}}"{% endif %}>
              {% if product.title %}
              <img class="icon icon-{{product.title|downcase}}" src="/shared/img/icons/{{product.title|downcase}}-256.png" width="128" height="128" alt=" "/>
              <span class="title">{{product.title}}</span>
              <span class="desc">{{product.description}}</span>
              <span class="tech">{% if product.tech %}<i class="fa fa-{{product.tech}}"></i> {% endif %}</span>
              {% endif %}
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="more-software">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="more-wrapper">
          <div class="more-box">
            <div class="generic-separator"></div>
            <div class="more-extension">
              <a href="/"><i class="fa fa-star"></i>Check out our primary software</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
